<div class="header-container" >

    <div class="inline-class pointer">
        <fa-icon class="menu-icon" [icon]="faBars" (click)="menuStatusChanged()" ></fa-icon>        
    </div>    
    <div  class="inline-class youtube-div pointer">       
            <fa-icon class="youtube-icon" [icon]="faYoutube"></fa-icon>                
            <span class="youtube-font">
                YouTube
            </span>   
    </div>
    <div class="inline-class" style="width: 40%;">
        <input class="search-field" placeholder="Search">
        <div class="inline-class search-btn-div pointer"  style="margin-left: -35px;">
            <fa-icon class="search-icon" [icon]="faMagnifyingGlass"></fa-icon> 
        </div> 
        <div class="inline-class micro-btn-div pointer" style="width: 18px;">
            <fa-icon class="search-icon" style="margin-left:2px" [icon]="faMicrophone"></fa-icon> 
        </div>      
    </div>

    <div class="inline-class" style="width: 20%;">

    </div>
    <div class="inline-class pointer" >
        <fa-icon class="search-icon" style="margin-left:2px" [icon]="faEllipsisVertical"></fa-icon> 
    </div>
    <div class="inline-class micro-btn-div pointer" style="width: 100px; margin-left: 15px;">
        <fa-icon class="search-icon" style="margin-left:1px" [icon]="faUserCircle"></fa-icon>
        <span style="margin-left: 12px;">SIGN IN</span> 
    </div>    

</div>

