
.top-div{
    border: 1px solid  rgb(0 0 0 / 7%) !important;
    margin-top: 5px

}

.card{

}

.img-class{
    width: 400px;
    border-radius: 15px;
}

.img-class-exp{
  width: 375px;
  border-radius: 15px;
}



.first-row{

    margin-top: 1%;
    margin-left: 1%;
    display: inline-block;
    width: 24%;
}

.first-row-exp{

  margin-top: 1%;
  margin-left: 1%;
  display: inline-block;
  width: 24%;
}

.img-footer{
    
}

.sub-img-class{
    width: 35px;
    border-radius: 20px;
}

.sub-img-class-exp{
  width: 35px;
  border-radius: 20px;
}

#wrapper{
    display:flex;
    width:92%;
    margin-top: 1%;
  }
  #w30{
   
    margin-left: 7px;
   
  }
  
  #w70{  
    margin-top: -17px;
    margin-left: 2%;
    line-height: 1;

  }

  #wrapper-expanded{
    display:flex;
    width:100%;
    margin-top: 1%;
  }
  #w30-expanded{
   
    width:15%;
  }
  
  #w70-expanded{  
    width:82%;
    margin-left: 2%;
  }

  .first-row-para{

    font-family: system-ui;
    font-weight: bold;

  }

  .first-row-para-exp{

    font-family: system-ui;
    font-weight: bold;

  }

  .bottom-heading{
    margin-top: -12px;
    font-family: system-ui;
    font-weight: 400;
    color: #606060e0;
    font-size: 15px;
  }

  .bottom-heading-exp{
    margin-top: -12px;
    font-family: system-ui;
    font-weight: 400;
    color: #606060e0;
    font-size: 15px;
  }

.chip-fixed{

  min-width: 91.5%;
}

.chip{
  margin-top:10px;
  display: inline-block;
  padding: 8px;
  border: 1px solid rgb(0 0 0 / 25%) !important;
  min-width: 40px;
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;
  color: #00000087;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  font-size: 13px;
}

.chip-fixed-exp{

  min-width: 81.5%;
}

