<div class="top-div">

</div>

<app-header (menuButtonClicked)="menuStatusChange($event)" ></app-header>


<div id="wrapper" *ngIf="!expanded">
    <div id="w30">  
     <app-side-menu></app-side-menu>
    </div>
    <div id="w70">  
        <router-outlet></router-outlet>
    </div>
  </div>

  
  <div id="wrapper-expanded" *ngIf="expanded">
    <div id="w30-expanded" class="bg-color hght-div">  
     <app-side-menu-expanded ></app-side-menu-expanded>
    </div>
    <div id="w70-expanded">  
        <router-outlet></router-outlet>
    </div>
  </div>


