.menu-icon{  

}

.align-center{
    text-align: center;
}

.font-12{

    font-size: 12px;
}

.explore-header{

    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.top-div{
    border: 1px solid  rgb(0 0 0 / 7%) !important;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 80%;
    margin-left: 16px;

}