#wrapper{
    display:flex;
    width:100%;
    margin-top: 1%;
  }
  #w30{
   
    width:30%;
    margin-left: -20px;
  }
  
  #w70{  
    width:70%;
    margin-left: 2%;
  }

  #inner-wrapper{
    display:flex;
    width:100%;
    margin-top: 1%;
  }

  #w43{
   
    width:43%;
    
  }

  #w50{

    width: 50%;
  }

  #wRest{

  }

  #w30{
   
    width:30%;
    margin-left: -20px;
  }
  
  #w70{  
    width:70%;
    margin-left: 2%;
  }



  .font-custom
  {
    font-family: system-ui;
  }

  .view-class{
    font-weight: 400;
    color: #606060e0;
    font-size: 15px;
  }

  .bottom-details{
    width: 107%;
  }

  .margin-custom{
    margin-left: 1%;
  }

  .margin-custom-2{
    margin-left: 2%;
  }

  .top-div{
    border: 1px solid  rgb(0 0 0 / 7%) !important;
    margin-bottom: 5px;
    width: 104%;

}

#wrapper-bottom{
  display:flex;
  width:92%;
  margin-top: 1%;
}
#w30-bottom{
 
  margin-left: 7px;
 
}

#w70-bottom{  
  margin-top: 11px;
  margin-left: 2%;
  line-height: 1;

}

.bottom-heading-bottom{
  margin-top: -12px;
  font-family: system-ui;
  font-weight: 400;
  color: #606060e0;
  font-size: 15px;
}


.sub-img-class-bottom{
  width: 35px;
  border-radius: 20px;
}

.micro-btn-div{
  padding: 8px;
  margin-left: 5px; 
}

.side-img-class{
  width: 205px;
  border-radius: 5px;
}
.bottom-heading{
  font-family: system-ui;
  font-weight: 400;
  color: #606060e0;
  font-size: 15px;
}

.first-row-para{

  font-family: system-ui;
  font-weight: 600;

}