

<div id="wrapper">
    <div id="w70">  
        <iframe width="1270" height="700" src="https://www.youtube.com/embed/F5mk_hbLsaM">
        </iframe>

        <div class="bottom-details">

            <div style="line-height: 0.8;
            margin-top: -10px;">
                <p style="color: #065fd4; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                    #sundarPichai #googleCeo #dayLife
                </p>
                <p class="font-custom">
                    A Day In The Life Of Sundar Pichai (Google's CEO)
                </p>
                <p class="font-custom view-class">
                    2,648,220 views . Jan 23, 2022 <span style="margin-left: 45%; color: rgba(0, 0, 0, 0.788);">
                       <span class="margin-custom-2">
                        <fa-icon class="search-icon" [icon]="faThumbsUp"></fa-icon> <span class="margin-custom">199</span>
                       </span> 
                       <span class="margin-custom-2">
                        <fa-icon class="search-icon" [icon]="faThumbsDown"></fa-icon> <span class="margin-custom">DISLIKE</span>
                       </span>                       
                       <span class="margin-custom-2">
                        <fa-icon class="search-icon" [icon]="faShare"></fa-icon> <span class="margin-custom">SHARE</span>
                       </span>
                       <span class="margin-custom-2">
                        <fa-icon class="search-icon" [icon]="faPlus"></fa-icon> <span class="margin-custom">SAVE</span>
                       </span>
                       <span class="inline-class micro-btn-div pointer margin-custom-2" style="background-color: #c00; margin-left: 25px;" >
                           
                        <span style="color: white">SUBSCRIBE</span> 
                    </span> 
                    </span>
                </p>
                
            </div>

        </div>

        <div class="top-div">
        </div>

        <div class="img-footer-bottom">
    
            <div id="wrapper-bottom">
                <div id="w30-bottom">  
                    <img class="sub-img-class-bottom" src="../../assets/youtube/F110.jpg">   
                </div>
                <div id="w70-bottom">  
                    <span>                    
                    
                        <p style="margin-top: -10px" class="bottom-heading-bottom">
                            Nonstop tech
                        </p>
                        <p style="margin-top: -10px" class="bottom-heading-bottom">
                            14.2K subscribers
                        </p>                                    
                    </span>

                 
                        
                   
                </div>
              </div>   
        </div>

        <div style="font-family:system-ui">
            <p>
                A Day In The Life Of Sundar Pichai 
            </p>

            <p>
                Success and stress don't need to go hand in hand, as proven by Sundar Pichai's calm, simple morning routine.
            </p>
            <p>
                Sundar Pichai has one of the most interesting and emotionally appealing stories of rising to stardom in the tech industry. Follow us as we look inside the daily life of the CEO of one of the most powerful companies in the world, as we discover what makes him tick. And be loveable.
            </p>

    
        </div>

        
        <div class="top-div">
        </div>
    </div>

    <div  id="w30">

      <div style="margin-left: 20%" id="inner-wrapper"  *ngFor="let data of firstSectionData">
        <div id="w43">
            <img class="side-img-class" [src]= "data.imgUrl">
        </div>
        <div id="w50">
            <div class="first-row-para">
                {{data.title}}
            </div>

            <div class="bottom-heading">
                {{data.channelName}}
            </div>

            <div class="bottom-heading">
                <span> {{data.views}}</span><span> . </span> <span>{{data.time}}</span>
            </div>
        </div>
      
        
      </div>
    </div>
  
  </div>